{% extends "feed.html" %}

{% block head %}
<style>
.profile-container {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.profile-info {
  font-size: 18px;
}

.profile-info p {
  margin-bottom: 10px;
}
</style>
{% endblock %}

{% block content %}
<div class="profile-container">
  <img class="profile-image" src="{{ url_for('static', path='photo.jpg') }}" alt="Profile Image">
  <div class="profile-info">
    <p style="font-weight: bold;">{{ another_user.username if another_user.username != user.username else user.username }}</p>
    <p><strong>Profession:</strong> {{ another_user.profession if another_user.username != user.username else user.profession }}</p>
    <p><strong>Skills:</strong> {{ another_user.skills if another_user.username != user.username else user.skills }}</p>
    <p><strong>Email:</strong> {{ another_user.email if another_user.username != user.username else user.email }}</p>
  </div>
</div>
{% endblock %}
