<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link id="favicon" rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
    <title>Junior Camp</title>
    <style>
        body {
            background: #000;
            overflow: auto;
        }

        .star {
            position: fixed;
            background: #FFF;
            width: 2px;
            height: 2px;
            border-radius: 50%;
        }

        @keyframes twinkle {
            0% { opacity: 0; }
            50% { opacity: 1; }
            100% { opacity: 0; }
        }

    </style>
</head>
<body>
    <nav>
        <ul class="flex justify-between text-3xl my-3">
            <ul class="flex ml-10">
                <a href="/feed" class="text-red-500 hover:text-red-800">
                    <span class="text-white">Junior</span>Camp
                </a>
                <div class="flame"></div>
            </ul>
            <ul class="flex gap-5 mr-10">
                <li><a href="/{{user.username}}" class="text-red-500 hover:text-red-800">account</a></li>
                <li>
                    <a href="/login" class="text-white">logout</a>
                </li>
            </ul>
        </ul>
    </nav>
    <hr>

    <!-- Левая панель разделов -->
    <div class="flex">
        <div class="w-1/6 bg-white-200 p-4 border-r">
            <ul class="space-y-8">
                <li><a href="/{{user.username}}" class="block w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Account</a></li>
                <li><a href="/projects" class="block w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Projects</a></li>
                <li><a href="/friends" class="block w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Friends</a></li>
                <li><a href="/messages" class="block w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Messages</a></li>
                <li><a href="/news" class="block w-full bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">News</a></li>

            </ul>
        </div>
        <!-- Основное содержимое -->
        <div class="w-5/6 p-4">
            <div id="content">
                {% block content %}Hello, World{% endblock %}
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
    <script>
        function createStar() {
            const star = document.createElement('div');
            star.classList.add('star');
            star.style.left = Math.random() * window.innerWidth + 'px';
            star.style.top = Math.random() * window.innerHeight + 'px';
            document.body.appendChild(star);
        }

        for (let i = 0; i < 100; i++) {
            createStar();
        }
    </script>
</body>
</html>
