{% extends "feed.html" %}

{% block head %}
    <style>
          @keyframes fade-in {
            from {
            opacity: 0;
            transform: translateY(35px);
            }
            to {
            opacity: 1;
            transform: translateY(0);
            }
        }
        .message-block {
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            animation-name:  fade-in;
            animation-duration: 0.6s;
            background-color: #303030;
            cursor: pointer; /* Делаем курсор указателем */
        }
        .user-name {
            font-weight: bold;
            color: #d64929;
        }
        .message-content {
            color: white;
            margin-bottom: 10px;
        }
        .message-date {
            align-self: flex-end;
            font-size: 14px;
            color: #707070;
        }
    </style>
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            // Получаем все блоки сообщений
            const messageBlocks = document.querySelectorAll('.message-block');

            // Добавляем обработчик событий клика к каждому блоку
            messageBlocks.forEach((block, index) => {
                block.addEventListener('click', () => {
                    // Получаем ID пользователя из атрибута data-user-id блока
                    const userId = block.getAttribute('data-user-id');
                    // Переходим на страницу с подробной информацией о сообщении
                    window.location.href = `/messages/${userId}`;
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div>
        <ul>
            {% set last_message_by_user = {} %}
            {% for message in messages.data %}
                {% set other_user = message.from if message.from != "you" else message.to %}
                {% set _ = last_message_by_user.update({other_user: message}) %}
            {% endfor %}
            {% for c_user, message in last_message_by_user.items() %}
                <div class="message-block" data-user-id="{{ message.user_id }}">
                    <p class="user-name">{{ c_user }}</p>
                    <p class="message-content">{{ message.message }}</p>
                    <p class="message-date">{{ message.date.strftime('%d %b %Y') }}</p>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
