{% extends "feed.html" %}

{% block head %}
<style>
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(35px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .project-card {
    background-color: #303030;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    animation-name: fade-in;
    animation-duration: 0.6s;
  }
  
  .button-container {
    position: relative;
  }
  
  .button {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button.new-project {
    background-color: #00a86b;
    color: #fff;
  }
  
  .button.new-project:hover {
    background-color: #00995a;
  }
  
  .button.new-project::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #303030;
    border-radius: 15px;
    z-index: -1;
    transition: transform 0.3s ease;
  }
  
  .button.new-project:hover::before {
    transform: scale(1.1);
  }
  
  .button.view-project {
    background-color: #e44724;
    color: #fff;
  }
  
  .button.view-project:hover {
    background-color: #d33f1f;
  }
  
  .button.view-project::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background-color: #303030;
    border-radius: 15px;
    z-index: -1;
    transition: transform 0.3s ease;
  }
  
  .button.view-project:hover::before {
    transform: scale(1.1);
  }
  
  .button-container {
      margin-left: auto;
  }
  </style>
{% endblock %}

{% block content %}
<div class="project-card">
  <div>
    <h2>New Project</h2>
    <p>Start a new project today!</p>
  </div>
  <div class="button-container">
    <a href="/projects/new" class="button new-project">New Project</a>
  </div>
</div>

{% for project in projects %}
<div class="project-card">
  <div class="details"> 
    <h2>{{ project["name"] }}</h2>
    <p>{{ project["author_id"] }}</p>
    <p>{{ project["description"]|truncate(30, True, "…") }}</p>
    <p>Need: {{ project["needed_skills"] }}</p>
  </div>
  <div class="button-container">
    <a href="/projects/view/{{project.id}}" class="button view-project">View Project</a>
  </div>
</div>
{% endfor %}

<script>
const buttons = document.querySelectorAll('.button');
buttons.forEach(button => {
  button.addEventListener('click', () => {
    // Actions when the button is clicked
    console.log('Button clicked!');
  });
});
</script>

{% endblock %}
